Manifest.toml
swe_wrapper.egg-info
*.pyc
experiment_data
data
*.h5
*.jls
*.png
*_test/
LocalPreferences.toml
!BathymetryReco/test/test_data/*
config_*
plots
bananatest.jl
suggested_priors.jl
advection_example/advection_notebook.jl
*.pdf